/* #4 Style one class to define the height and width, the other to define background-color.*/
.class1 {
  height: 100px;
  width: 100px;
}
.class2 {
  background-color: pink;
}
#image1 {
  width: 500px;
}
